*{
    padding: 0;
    margin: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)), url(../images/school.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav_links{
    flex: 1;
    text-align: center; 
}
.nav_links ul{
    white-space: nowrap;   /* avoid wrapping */
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:24px;
    padding: 14px 32px;
    font-weight: 600;
    border: 3px solid #fff;
    border-radius: 25px;
    transition: 0.3s;
}
.nav_links ul li a:hover {
    background-color: #fff;
    color: #000;
}